<%- include('../partials/header', { user: user }) %>

<div class="container mt-5">
  <h1>Admin Dashboard</h1>
  <p>Welcome to the admin area. You can manage content and view users here.</p>
</div>
